input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}

button:first-child{
    margin-right: 1rem ;
}

img{
    max-height: 150px;
}

.spacer{
    margin-top: 1rem;
}

.btn-container-top{
    margin-bottom: 1rem;
}

.btn-container-bottom{
    margin-top: 1rem;
}